contrib/excel/frepple_flat.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified" attributeFormDefault="unqualified"
  version="1.0">
  <!--
    The normal schema of Frepple is not suitable for use in Excel.
    We need a seperate schema for the following reasons:
      - We want to expose only a subset of the Frepple capabilities to the
        users. This is done to keep the users interface as easy as possible.
      - The xml editing features in Office/Excel are too limited to work with
        the complete schema.
        E.g. Recursive structures are not allowed. It creates an infinite loop
        that eventually crashes Excel with an out of memory message...
        E.g. Abstract types and type substition aren't supported.
        E.g. List of lists.
        Actually, the limitations in the Office XML features are nothing but
        the well-known object-relational mapping problem.
  -->

  <xsd:element name="PLAN">
    <xsd:annotation>
      <xsd:documentation>
        This is the root tag in the data schema.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>

        <!-- FIELDS -->
        <xsd:element name="NAME" type="xsd:string" minOccurs="0" />
        <xsd:element name="DESCRIPTION" type="xsd:string" minOccurs="0" />
        <xsd:element name="CURRENT" type="xsd:dateTime" minOccurs="0" />
        <xsd:element name="LOGFILE" type="xsd:string" minOccurs="0" />
        <!--
        <xsd:element name="DEFAULT_CALENDAR" type="CALENDAR" />
        -->

        <!-- OBJECT LISTS -->
<!--
        <xsd:element name="SOLVERS" type="SOLVERLIST" minOccurs="0" />
        <xsd:element name="COMMANDS" type="COMMAND_LIST" minOccurs="0" />
        <xsd:element name="CALENDARS" type="CALENDARLIST" minOccurs="0" />
        <xsd:element name="OPERATIONS" type="OPERATIONLIST" minOccurs="0" />
-->
        <xsd:element name="LOCATIONS" type="LOCATIONLIST" minOccurs="0" />
        <xsd:element name="CUSTOMERS" type="CUSTOMERLIST" minOccurs="0" />
        <xsd:element name="ITEMS" type="ITEMLIST" minOccurs="0" />
        <xsd:element name="DEMANDS" type="DEMANDLIST" minOccurs="0" />
        <xsd:element name="BUFFERS" type="BUFFERLIST" minOccurs="0" />
        <xsd:element name="RESOURCES" type="RESOURCELIST" minOccurs="0" />
        <xsd:element name="OPERATION_PLANS" type="OPERATIONPLANLIST" minOccurs="0" />
        <xsd:element name="FLOWS" type="FLOWLIST" minOccurs="0" />
        <xsd:element name="LOADS" type="LOADLIST" minOccurs="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:simpleType name="time">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(\+\-)?(([0-9]*:)?([0-9]*:))?[0-9]*" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="positiveFloat">
    <xsd:restriction base="xsd:float">
      <xsd:minInclusive value="0" />
    </xsd:restriction>
  </xsd:simpleType>

	<xsd:simpleType name="non-empty-string">
  	<xsd:restriction base="xsd:normalizedString">
    	<xsd:minLength value="1"/>
  	</xsd:restriction>
	</xsd:simpleType>

  <xsd:attributeGroup name="COMMON_ATTRIBUTES">
    <xsd:attribute name="NAME" type="non-empty-string" use="required" />
    <xsd:attribute name="CATEGORY" type="xsd:string" />
    <xsd:attribute name="SUBCATEGORY" type="xsd:string" />
    <xsd:attribute name="DESCRIPTION" type="xsd:string" />
  </xsd:attributeGroup>

  <!-- LOCATION -->
  <xsd:complexType name="LOCATION">
    <xsd:annotation>
      <xsd:documentation>
        Buffers and resources are linked to a (physical or logical) location.
        Locations are merely used for simple association, and have no active use
        in the model.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="OWNER" type="xsd:string" minOccurs="0" />
    </xsd:sequence>
    <xsd:attributeGroup ref="COMMON_ATTRIBUTES"/>
  </xsd:complexType>
  <xsd:complexType name="LOCATIONLIST">
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="LOCATION" type="LOCATION" />
    </xsd:sequence>
  </xsd:complexType>

  <!-- CUSTOMER -->
  <xsd:complexType name="CUSTOMER">
    <xsd:annotation>
      <xsd:documentation>
        Demand is linked to a customer. This association currently has no active
        use in the model.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="OWNER" type="xsd:string" minOccurs="0" />
    </xsd:sequence>
    <xsd:attributeGroup ref="COMMON_ATTRIBUTES"/>
  </xsd:complexType>
  <xsd:complexType name="CUSTOMERLIST">
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="CUSTOMER" type="CUSTOMER" />
    </xsd:sequence>
  </xsd:complexType>

  <!-- OPERATION -->
  <xsd:complexType name="OPERATION">
    <xsd:annotation>
      <xsd:documentation>
        An operation defines an activity that can consume and produce material
        from buffers, load capacity on resources.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="OWNER" type="xsd:string" />
      <xsd:element name="LOADS" type="LOADLIST" />
      <xsd:element name="FLOWS" type="FLOWLIST" />
      <xsd:element name="DURATION_PER" type="time" />
      <xsd:element name="DURATION" type="time" />
    </xsd:choice>
    <xsd:attributeGroup ref="COMMON_ATTRIBUTES"/>
    <xsd:attribute name="DETECTPROBLEMS" type="xsd:boolean" />
    <xsd:attribute name="DELAY" type="time" />
    <xsd:attribute name="FENCE" type="time" />
    <xsd:attribute name="SIZE_MINIMUM" type="positiveFloat" />
    <xsd:attribute name="SIZE_MULTIPLE" type="positiveFloat" />
  </xsd:complexType>

  <xsd:complexType name="OPERATIONLIST">
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="OPERATION" type="OPERATION" />
    </xsd:sequence>
  </xsd:complexType>


<!--
  <xsd:complexType name="OPERATION_ROUTING">
    <xsd:complexContent>
      <xsd:extension base="OPERATION">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="STEPS">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="OPERATION" type="OPERATION"
                  maxOccurs="unbounded" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="OPERATION_ALTERNATE">
    <xsd:complexContent>
      <xsd:extension base="OPERATION">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="ALTERNATES">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="ALTERNATE" minOccurs="0" maxOccurs="unbounded">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="OPERATION" type="OPERATION" />
                      <xsd:element name="PRIORITY" type="xsd:float"
                        minOccurs="0" />
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="OPERATION_EFFECTIVE">
    <xsd:complexContent>
      <xsd:extension base="OPERATION">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="CALENDAR" type="CALENDAR" />
          <xsd:element name="STARTOREND" type="xsd:boolean" />
        </xsd:choice>
        <xsd:attribute name="STARTOREND" type="xsd:boolean" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
-->

  <!-- ITEM -->
  <xsd:complexType name="ITEM">
    <xsd:annotation>
      <xsd:documentation>
        An item defines the products being planned, sold, stored and/or
        manufactured. Buffers and demands have a reference to an item.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="OWNER" type="xsd:string" minOccurs="0" />
      <xsd:element name="OPERATION" type="xsd:string" minOccurs="0" />
    </xsd:sequence>
    <xsd:attributeGroup ref="COMMON_ATTRIBUTES" />
  </xsd:complexType>

  <xsd:complexType name="ITEMLIST">
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="ITEM" type="ITEM" />
    </xsd:sequence>
  </xsd:complexType>

  <!-- RESOURCE -->
  <xsd:complexType name="RESOURCE">
    <xsd:annotation>
      <xsd:documentation>
        A resource represents a workcentre, a physical or logical
        representation of capacity.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="LOCATION" type="xsd:string" minOccurs="0" />
      <xsd:element name="MAXIMUM" type="xsd:string" minOccurs="0" />
      <xsd:element name="OWNER" type="xsd:string" minOccurs="0" />
    </xsd:sequence>
    <xsd:attributeGroup ref="COMMON_ATTRIBUTES"/>
  </xsd:complexType>

  <xsd:complexType name="RESOURCELIST">
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="RESOURCE" type="RESOURCE" />
    </xsd:sequence>
  </xsd:complexType>


  <!-- BUFFER -->
  <xsd:complexType name="BUFFER">
    <xsd:annotation>
      <xsd:documentation>
        A buffer represents a combination of a item and location. It is the
        entity for keeping modeling inventory. A synonym is SKU or
        stock-keeping-unit.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="OWNER" type="xsd:string" minOccurs="0" />
      <xsd:element name="LOCATION" type="xsd:string" minOccurs="0" />
      <xsd:element name="ITEM" type="xsd:string" minOccurs="0" />
      <xsd:element name="MINIMUM" type="xsd:string" minOccurs="0" />
      <xsd:element name="MAXIMUM" type="xsd:string" minOccurs="0" />
      <xsd:element name="CONSUMING" type="xsd:string" minOccurs="0" />
      <xsd:element name="PRODUCING" type="xsd:string" minOccurs="0" />
    </xsd:sequence>
    <xsd:attributeGroup ref="COMMON_ATTRIBUTES"/>
    <xsd:attribute name="ONHAND" type="xsd:float" />
    <xsd:attribute name="DETECTPROBLEMS" type="xsd:boolean" />
  </xsd:complexType>

  <xsd:complexType name="BUFFERLIST">
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="BUFFER" type="BUFFER" />
    </xsd:sequence>
  </xsd:complexType>


  <!-- FLOW -->
  <xsd:complexType name="FLOW">
    <xsd:annotation>
      <xsd:documentation>
        A flow represent the production or consumption of material from a
        buffer. A flow is attached to an operation.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="OPERATION" type="xsd:string" minOccurs="0" />
      <xsd:element name="BUFFER" type="xsd:string" minOccurs="0" />
      <xsd:element name="QUANTITY" type="xsd:float" minOccurs="0" />
      <xsd:element name="START" type="xsd:boolean" minOccurs="0" />
    </xsd:sequence>
    <xsd:attribute name="QUANTITY" type="xsd:float" />
  </xsd:complexType>

  <xsd:complexType name="FLOWLIST">
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="FLOW" type="FLOW" />
    </xsd:sequence>
  </xsd:complexType>


  <!-- LOAD -->
  <xsd:complexType name="LOAD">
    <xsd:annotation>
      <xsd:documentation>
        A load links a resource to a certain operation.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element name="OPERATION" type="xsd:string" minOccurs="0" />
      <xsd:element name="RESOURCE" type="xsd:string" minOccurs="0" />
      <xsd:element name="USAGE" type="xsd:float" minOccurs="0" />
    </xsd:all>
    <xsd:attribute name="USAGE" type="xsd:float" />
  </xsd:complexType>
  <xsd:complexType name="LOADLIST">
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="LOAD" type="LOAD" />
    </xsd:choice>
  </xsd:complexType>

  <!-- DEMAND -->
  <xsd:simpleType name="DEMANDPOLICY">
    <xsd:list>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="PLANSHORT" />
          <xsd:enumeration value="PLANLATE" />
          <xsd:enumeration value="SINGLEDELIVERY" />
          <xsd:enumeration value="MULTIDELIVERY" />
          <xsd:enumeration value="AGGREGATE" />
          <xsd:enumeration value="SUBTRACT" />
          <xsd:enumeration value="DISAGGREGATE" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:list>
  </xsd:simpleType>

  <xsd:complexType name="DEMAND">
    <xsd:annotation>
      <xsd:documentation>
        A demand represents a independent demand to be planned. It can
        represent a customer order or a forecast.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ITEM" type="xsd:string" minOccurs="0" />
      <xsd:element name="OPERATION" type="xsd:string" minOccurs="0" />
      <xsd:element name="CUSTOMER" type="xsd:string" minOccurs="0" />
      <xsd:element name="OWNER" type="xsd:string" minOccurs="0" />
    </xsd:sequence>
    <xsd:attributeGroup ref="COMMON_ATTRIBUTES"/>
    <xsd:attribute name="QUANTITY" type="positiveFloat" />
    <xsd:attribute name="DUE" type="xsd:dateTime" />
    <xsd:attribute name="PRIORITY" type="xsd:integer" />
    <xsd:attribute name="DETECTPROBLEMS" type="xsd:boolean" />
    <xsd:attribute name="POLICY" type="DEMANDPOLICY" />
  </xsd:complexType>

  <xsd:complexType name="DEMANDLIST">
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="DEMAND" type="DEMAND" />
    </xsd:sequence>
  </xsd:complexType>


  <!-- CALENDAR -->
  <xsd:complexType name="CALENDAR">
    <xsd:annotation>
      <xsd:documentation>
        A calendar is used to represent time dependent parameters.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="NAME" type="xsd:string" use="required" />
  </xsd:complexType>

  <xsd:complexType name="CALENDARLIST">
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="CALENDAR" type="CALENDAR" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CALENDAR_FLOAT">
    <xsd:complexContent>
      <xsd:extension base="CALENDAR">
        <xsd:sequence>
          <xsd:element name="BUCKETS" minOccurs="0">
            <xsd:complexType>
              <xsd:choice minOccurs="0" maxOccurs="unbounded">
                <xsd:element name="BUCKET" minOccurs="0">
                  <xsd:complexType>
                    <xsd:all>
                      <xsd:element name="NAME" type="xsd:string"
                        minOccurs="0" />
                      <xsd:element name="END" type="xsd:dateTime"
                        minOccurs="0" />
                      <xsd:element name="VALUE" type="xsd:float"
                        minOccurs="0" />
                    </xsd:all>
                    <xsd:attribute name="START" type="xsd:dateTime"
                      use="required" />
                    <xsd:attribute name="NAME" type="xsd:string" />
                    <xsd:attribute name="END" type="xsd:dateTime" />
                    <xsd:attribute name="VALUE" type="xsd:float" />
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CALENDAR_VOID">
    <xsd:complexContent>
      <xsd:extension base="CALENDAR">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="BUCKETS">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="BUCKET" minOccurs="0"
                  maxOccurs="unbounded">
                  <xsd:complexType>
                    <xsd:all>
                      <xsd:element name="NAME" type="xsd:string"
                        minOccurs="0" />
                      <xsd:element name="END" type="xsd:dateTime"
                        minOccurs="0" />
                    </xsd:all>
                    <xsd:attribute name="START" type="xsd:dateTime"
                      use="required" />
                    <xsd:attribute name="NAME" type="xsd:string" />
                    <xsd:attribute name="END" type="xsd:dateTime" />
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CALENDAR_INTEGER">
    <xsd:complexContent>
      <xsd:extension base="CALENDAR">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="BUCKETS">
            <xsd:complexType>
              <xsd:choice minOccurs="0" maxOccurs="unbounded">
                <xsd:element name="BUCKET">
                  <xsd:complexType>
                    <xsd:all>
                      <xsd:element name="NAME" type="xsd:string"
                        minOccurs="0" />
                      <xsd:element name="END" type="xsd:dateTime"
                        minOccurs="0" />
                      <xsd:element name="VALUE" type="xsd:integer"
                        minOccurs="0" />
                    </xsd:all>
                    <xsd:attribute name="VALUE" type="xsd:integer" />
                    <xsd:attribute name="START" type="xsd:dateTime"
                      use="required" />
                    <xsd:attribute name="NAME" type="xsd:string" />
                    <xsd:attribute name="END" type="xsd:dateTime" />
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            </xsd:complexType>
          </xsd:element>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CALENDAR_BOOLEAN">
    <xsd:complexContent>
      <xsd:extension base="CALENDAR">
        <xsd:sequence>
          <xsd:element name="BUCKETS" minOccurs="0">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="BUCKET" minOccurs="0"
                  maxOccurs="unbounded">
                  <xsd:complexType>
                    <xsd:all>
                      <xsd:element name="NAME" type="xsd:string"
                        minOccurs="0" />
                      <xsd:element name="END" type="xsd:dateTime"
                        minOccurs="0" />
                      <xsd:element name="VALUE" type="xsd:boolean"
                        minOccurs="0" />
                    </xsd:all>
                    <xsd:attribute name="VALUE" type="xsd:boolean" />
                    <xsd:attribute name="START" type="xsd:dateTime"
                      use="required" />
                    <xsd:attribute name="NAME" type="xsd:string" />
                    <xsd:attribute name="END" type="xsd:dateTime" />
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CALENDAR_STRING">
    <xsd:complexContent>
      <xsd:extension base="CALENDAR">
        <xsd:sequence>
          <xsd:element name="BUCKETS" minOccurs="0">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="BUCKET" minOccurs="0"
                  maxOccurs="unbounded">
                  <xsd:complexType>
                    <xsd:all>
                      <xsd:element name="NAME" type="xsd:string"
                        minOccurs="0" />
                      <xsd:element name="END" type="xsd:dateTime"
                        minOccurs="0" />
                      <xsd:element name="VALUE" type="xsd:string"
                        minOccurs="0" />
                    </xsd:all>
                    <xsd:attribute name="VALUE" type="xsd:string" />
                    <xsd:attribute name="START" type="xsd:dateTime"
                      use="required" />
                    <xsd:attribute name="NAME" type="xsd:string" />
                    <xsd:attribute name="END" type="xsd:dateTime" />
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CALENDAR_OPERATION">
    <xsd:complexContent>
      <xsd:extension base="CALENDAR">
        <xsd:sequence>
          <xsd:element name="BUCKETS" minOccurs="0">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="BUCKET" minOccurs="0"
                  maxOccurs="unbounded">
                  <xsd:complexType>
                    <xsd:all>
                      <xsd:element name="NAME" type="xsd:string"
                        minOccurs="0" />
                      <xsd:element name="END" type="xsd:dateTime"
                        minOccurs="0" />
                      <xsd:element name="VALUE" type="OPERATION"
                        minOccurs="0" />
                    </xsd:all>
                    <xsd:attribute name="START" type="xsd:dateTime"
                      use="required" />
                    <xsd:attribute name="NAME" type="xsd:string" />
                    <xsd:attribute name="END" type="xsd:dateTime" />
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


  <!-- OPERATION_PLAN -->
  <xsd:complexType name="OPERATION_PLAN">
    <xsd:annotation>
      <xsd:documentation>
        This entity represent the key for representing the plan. It models an
        operation planned at a certain quantity and time.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="DEMAND" type="xsd:string" minOccurs="0" />
      <xsd:element name="OWNER" type="xsd:unsignedLong" minOccurs="0" />
    </xsd:sequence>
    <xsd:attribute name="ID" type="xsd:unsignedLong" />
    <xsd:attribute name="OPERATION" type="xsd:string" />
    <xsd:attribute name="START" type="xsd:dateTime" />
    <xsd:attribute name="END" type="xsd:dateTime" />
    <xsd:attribute name="EPST" type="xsd:dateTime" />
    <xsd:attribute name="LPST" type="xsd:dateTime" />
    <xsd:attribute name="QUANTITY" type="positiveFloat" />
    <xsd:attribute name="LOCKED" type="xsd:boolean" />
  </xsd:complexType>

  <xsd:complexType name="OPERATIONPLANLIST">
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="OPERATION_PLAN" type="OPERATION_PLAN" />
    </xsd:sequence>
  </xsd:complexType>


  <!-- COMMAND -->
  <xsd:complexType name="COMMAND" abstract="true">
    <xsd:annotation>
      <xsd:documentation>
        System state changes are all directed by commands.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="VERBOSE" type="xsd:boolean" />
  </xsd:complexType>

  <xsd:complexType name="COMMAND_SOLVE">
    <xsd:complexContent>
      <xsd:extension base="COMMAND">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="VERBOSE" type="xsd:boolean" />
          <xsd:element name="SOLVER" type="SOLVER" />
          <xsd:element name="CONSTRAINTS" type="xsd:unsignedShort" />
        </xsd:choice>
        <xsd:attribute name="CONSTRAINTS" type="xsd:unsignedShort" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="COMMAND_SYSTEM">
    <xsd:complexContent>
      <xsd:extension base="COMMAND">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="VERBOSE" type="xsd:boolean" />
          <xsd:element name="CMDLINE" type="xsd:string" />
        </xsd:choice>
        <xsd:attribute name="CMDLINE" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="COMMAND_LIST">
    <xsd:complexContent>
      <xsd:extension base="COMMAND">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="VERBOSE" type="xsd:boolean" />
          <xsd:element name="COMMAND" type="COMMAND" />
          <xsd:element name="ABORTONERROR" type="xsd:boolean" />
          <xsd:element name="SEQUENTIAL" type="xsd:boolean" />
        </xsd:choice>
        <xsd:attribute name="ABORTONERROR" type="xsd:boolean" />
        <xsd:attribute name="SEQUENTIAL" type="xsd:boolean" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="COMMAND_SIZE">
    <xsd:complexContent>
      <xsd:extension base="COMMAND">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="VERBOSE" type="xsd:boolean" />
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="COMMAND_ERASE">
    <xsd:complexContent>
      <xsd:extension base="COMMAND">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="VERBOSE" type="xsd:boolean" />
          <xsd:element name="MODE">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="model" />
                <xsd:enumeration value="plan" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:choice>
        <xsd:attribute name="MODE">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="model" />
              <xsd:enumeration value="plan" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="COMMAND_SAVE">
    <xsd:complexContent>
      <xsd:extension base="COMMAND">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="VERBOSE" type="xsd:boolean" />
          <xsd:element name="FILENAME" type="xsd:string" />
        </xsd:choice>
        <xsd:attribute name="FILENAME" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="COMMAND_SAVEPLAN">
    <xsd:complexContent>
      <xsd:extension base="COMMAND">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="VERBOSE" type="xsd:boolean" />
          <xsd:element name="FILENAME" type="xsd:string" />
        </xsd:choice>
        <xsd:attribute name="FILENAME" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="COMMAND_READXML">
    <xsd:complexContent>
      <xsd:extension base="COMMAND">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="VERBOSE" type="xsd:boolean" />
          <xsd:element name="FILENAME" type="xsd:string" />
          <xsd:element name="VALIDATE" type="xsd:boolean" />
        </xsd:choice>
        <xsd:attribute name="FILENAME" type="xsd:string" />
        <xsd:attribute name="VALIDATE" type="xsd:boolean" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="COMMAND_READXMLSTRING">
    <xsd:complexContent>
      <xsd:extension base="COMMAND">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="VERBOSE" type="xsd:boolean" />
          <xsd:element name="DATA" type="xsd:string" />
          <xsd:element name="VALIDATE" type="xsd:boolean" />
        </xsd:choice>
        <xsd:attribute name="DATA" type="xsd:string" />
        <xsd:attribute name="VALIDATE" type="xsd:boolean" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


  <!-- SOLVER -->
  <xsd:complexType name="SOLVER">
    <xsd:annotation>
      <xsd:documentation>
        A solver represents modules of functionality that manipulate the model.
        Examples are solvers to generate a plan, solvers to compute safety
        stocks, solvers to create production or purchase orders, etc...
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="NAME" type="xsd:string" use="required" />
    <xsd:attribute name="CONSTRAINTS" type="xsd:unsignedShort" />
    <xsd:attribute name="VERBOSE" type="xsd:boolean" />
  </xsd:complexType>

  <xsd:complexType name="SOLVERLIST">
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="SOLVER" type="SOLVER" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SOLVER_MRP">
    <xsd:complexContent>
      <xsd:extension base="SOLVER">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="CONSTRAINTS" type="xsd:unsignedShort" />
          <xsd:element name="VERBOSE" type="xsd:boolean" />
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SOLVER_LP">
    <xsd:complexContent>
      <xsd:extension base="SOLVER">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="CONSTRAINTS" type="xsd:unsignedShort" />
          <xsd:element name="VERBOSE" type="xsd:boolean" />
          <xsd:element name="CALENDAR" type="CALENDAR" />
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

</xsd:schema>
