contrib/excel/frepple.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 file : $URL$
 version : $LastChangedRevision$  $LastChangedBy$
 date : $LastChangedDate$

 Copyright (C) 2007 by Johan De Taeye

 This library is free software; you can redistribute it and/or modify it
 under the terms of the GNU Lesser General Public License as published
 by the Free Software Foundation; either version 2.1 of the License, or
 (at your option) any later version.

 This library is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser
 General Public License for more details.

 You should have received a copy of the GNU Lesser General Public
 License along with this library; if not, write to the Free Software
 Foundation Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA
-->
<xsd:schema
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified"
  version="1.0">
  <!--
    The normal schema of Frepple is not suitable for use in Excel.
    We need a seperate schema for the following reasons:
      - We want to expose only a subset of the Frepple capabilities to the
        users. This is done to keep the users interface as easy as possible.
      - The xml editing features in Office/Excel are too limited to work with
        the complete schema.
        E.g. Recursive structures are not allowed. It creates an infinite loop
        that eventually crashes Excel with an out of memory message...
        E.g. Abstract types and type substition aren't supported.
        E.g. List of lists.
        Actually, the limitations in the Office XML features are nothing but
        the well-known object-relational mapping problem.
  -->

  <xsd:element name="plan">
    <xsd:annotation>
      <xsd:documentation>
        This is the root tag in the data schema.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>

        <!-- FIELDS -->
        <xsd:element name="name" type="xsd:string" minOccurs="0" />
        <xsd:element name="description" type="xsd:string" minOccurs="0" />
        <xsd:element name="current" type="xsd:dateTime" minOccurs="0" />
        <!--
        <xsd:element name="default_calendar" type="calendar" />
        -->

        <!-- OBJECT LISTS -->
        <xsd:element name="calendars" type="calendarlist" minOccurs="0" />
        <xsd:element name="locations" type="locationlist" minOccurs="0" />
        <xsd:element name="customers" type="customerlist" minOccurs="0" />
        <xsd:element name="items" type="itemlist" minOccurs="0" />
        <xsd:element name="operations" type="operationlist" minOccurs="0" />
        <xsd:element name="buffers" type="bufferlist" minOccurs="0" />
        <xsd:element name="flows" type="flowlist" minOccurs="0" />
        <xsd:element name="resources" type="resourcelist" minOccurs="0" />
        <xsd:element name="loads" type="loadlist" minOccurs="0" />
        <xsd:element name="demands" type="demandlist" minOccurs="0" />
        <xsd:element name="operation_plans" type="operationplanlist" minOccurs="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:simpleType name="time">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(\+\-)?(([0-9]*:)?([0-9]*:))?[0-9]*" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="positiveFloat">
    <xsd:restriction base="xsd:double">
      <xsd:minInclusive value="0" />
    </xsd:restriction>
  </xsd:simpleType>

	<xsd:simpleType name="non-empty-string">
  	<xsd:restriction base="xsd:normalizedString">
    	<xsd:minLength value="1"/>
  	</xsd:restriction>
	</xsd:simpleType>

  <xsd:attributeGroup name="common_attributes">
    <xsd:attribute name="name" type="non-empty-string" use="required" />
    <xsd:attribute name="category" type="xsd:string" />
    <xsd:attribute name="subcategory" type="xsd:string" />
    <xsd:attribute name="description" type="xsd:string" />
  </xsd:attributeGroup>

  <!-- LOCATION -->
  <xsd:complexType name="location">
    <xsd:annotation>
      <xsd:documentation>
        Buffers and resources are linked to a (physical or logical) location.
        Locations are merely used for simple association, and have no active use
        in the model.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="owner" minOccurs="0">
      	<xsd:complexType>
    			<xsd:attribute name="name" type="non-empty-string" use="required"/>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="available" minOccurs="0">
      	<xsd:complexType>
    			<xsd:attribute name="name" type="non-empty-string" use="required"/>
      	</xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attributeGroup ref="common_attributes"/>
  </xsd:complexType>

  <xsd:complexType name="locationlist">
    <xsd:sequence>
      <xsd:element name="location" type="location" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>


  <!-- CUSTOMER -->
  <xsd:complexType name="customer">
    <xsd:annotation>
      <xsd:documentation>
        Demand is linked to a customer. This association currently has no active
        use in the model.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="owner" minOccurs="0">
      	<xsd:complexType>
    			<xsd:attribute name="name" type="non-empty-string" use="required"/>
      	</xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attributeGroup ref="common_attributes"/>
  </xsd:complexType>

  <xsd:complexType name="customerlist">
    <xsd:sequence>
      <xsd:element name="customer" type="customer" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>


  <!-- OPERATION -->
  <xsd:complexType name="operation">
    <xsd:annotation>
      <xsd:documentation>
        An operation defines an activity that can consume and produce material
        from buffers, load capacity on resources.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="location" minOccurs="0">
      	<xsd:complexType>
    			<xsd:attribute name="name" type="non-empty-string" use="required"/>
      	</xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attributeGroup ref="common_attributes"/>
    <xsd:attribute name="fence" type="time" />
    <xsd:attribute name="size_minimum" type="positiveFloat" />
    <xsd:attribute name="size_multiple" type="positiveFloat" />
  </xsd:complexType>

  <xsd:complexType name="operationlist">
    <xsd:sequence>
      <!--
      <xsd:element name="operation" type="operation" minOccurs="0" maxOccurs="unbounded"/>
      -->
			<xsd:element name="operation_fixed_time" type="operation_fixed_time" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="operation_time_per" type="operation_time_per" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="operation_alternate" type="operation_alternate" minOccurs="0" maxOccurs="unbounded"/>
			<!--
			<xsd:element name="operation_routing" type="operation_routing" minOccurs="0" maxOccurs="unbounded"/>
			-->
    </xsd:sequence>
  </xsd:complexType>

	<xsd:complexType name="operation_fixed_time">
		<xsd:complexContent>
			<xsd:extension base="operation">
				<xsd:attribute name="duration" type="time" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="operation_time_per">
		<xsd:complexContent>
			<xsd:extension base="operation">
				<xsd:attribute name="duration_per" type="time" />
				<xsd:attribute name="duration" type="time" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

  <xsd:complexType name="operation_alternate">
    <xsd:complexContent>
      <xsd:extension base="operation">
        <xsd:sequence>
          <xsd:element name="alternates">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="alternate">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="operation" minOccurs="1" maxOccurs="1">
                        <xsd:complexType>
                    			<xsd:attribute name="name" type="non-empty-string" use="required"/>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="priority" type="xsd:double" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


  <!-- ITEM -->
  <xsd:complexType name="item">
    <xsd:annotation>
      <xsd:documentation>
        An item defines the products being planned, sold, stored and/or
        manufactured. Buffers and demands have a reference to an item.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="owner" minOccurs="0">
      	<xsd:complexType>
    			<xsd:attribute name="name" type="non-empty-string" use="required"/>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="operation" minOccurs="0">
      	<xsd:complexType>
    			<xsd:attribute name="name" type="non-empty-string" use="required"/>
      	</xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attributeGroup ref="common_attributes" />
  </xsd:complexType>

  <xsd:complexType name="itemlist">
    <xsd:sequence minOccurs="0">
      <xsd:element name="item" type="item"  maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>


  <!-- RESOURCE -->
  <xsd:complexType name="resource">
    <xsd:annotation>
      <xsd:documentation>
        A resource represents a workcentre, a physical or logical
        representation of capacity.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="location" type="location" minOccurs="0" />
      <xsd:element name="maximum" minOccurs="0">
      	<xsd:complexType>
    			<xsd:attribute name="name" type="non-empty-string" use="required"/>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="owner" minOccurs="0">
      	<xsd:complexType>
    			<xsd:attribute name="name" type="non-empty-string" use="required"/>
      	</xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attributeGroup ref="common_attributes"/>
  </xsd:complexType>

  <xsd:complexType name="resourcelist">
    <xsd:sequence>
      <xsd:element name="resource" type="resource" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="resource_infinite" type="resource_infinite" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

	<xsd:complexType name="resource_infinite">
		<xsd:complexContent>
			<xsd:extension base="resource" />
		</xsd:complexContent>
	</xsd:complexType>


  <!-- BUFFER -->
  <xsd:complexType name="buffer">
    <xsd:annotation>
      <xsd:documentation>
        A buffer represents a combination of a item and location. It is the
        entity for keeping modeling inventory. A synonym is SKU or
        stock-keeping-unit.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="owner" minOccurs="0">
      	<xsd:complexType>
    			<xsd:attribute name="name" type="non-empty-string" use="required"/>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="location" type="location" minOccurs="0"/>
      <xsd:element name="item" type="item" minOccurs="0"/>
      <xsd:element name="minimum" type="xsd:string" minOccurs="0" />
      <xsd:element name="maximum" type="xsd:string" minOccurs="0" />
      <xsd:element name="consuming" minOccurs="0">
      	<xsd:complexType>
    			<xsd:attribute name="name" type="non-empty-string" use="required"/>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="producing" minOccurs="0">
      	<xsd:complexType>
    			<xsd:attribute name="name" type="non-empty-string" use="required"/>
      	</xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attributeGroup ref="common_attributes"/>
    <xsd:attribute name="onhand" type="xsd:double" />
  </xsd:complexType>

	<xsd:complexType name="buffer_infinite">
		<xsd:complexContent>
			<xsd:extension base="buffer" />
		</xsd:complexContent>
	</xsd:complexType>

  <xsd:complexType name="bufferlist">
    <xsd:sequence>
      <xsd:element name="buffer" type="buffer" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="buffer_infinite" type="buffer_infinite" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>


  <!-- FLOW -->
  <xsd:complexType name="flow">
    <xsd:annotation>
      <xsd:documentation>
        A flow represent the production or consumption of material from a
        buffer. A flow is attached to an operation.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="operation" minOccurs="1">
      	<xsd:complexType>
    			<xsd:attribute name="name" type="non-empty-string" use="required"/>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="buffer" minOccurs="1">
      	<xsd:complexType>
    			<xsd:attribute name="name" type="non-empty-string" use="required"/>
      	</xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="quantity" type="xsd:double" />
  </xsd:complexType>

	<xsd:complexType name="flow_end">
		<xsd:complexContent>
			<xsd:extension base="flow" />
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="flow_start">
		<xsd:complexContent>
			<xsd:extension base="flow" />
		</xsd:complexContent>
	</xsd:complexType>

  <xsd:complexType name="flowlist">
    <xsd:sequence>
			<xsd:element name="flow_end" type="flow_end"  minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="flow_start" type="flow_start"  minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>


  <!-- LOAD -->
  <xsd:complexType name="load">
    <xsd:annotation>
      <xsd:documentation>
        A load links a resource to a certain operation.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element name="operation" minOccurs="1">
      	<xsd:complexType>
    			<xsd:attribute name="name" type="non-empty-string" use="required"/>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="resource" minOccurs="1">
      	<xsd:complexType>
    			<xsd:attribute name="name" type="non-empty-string" use="required"/>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="usage" type="xsd:double" minOccurs="0" />
    </xsd:all>
    <xsd:attribute name="usage" type="xsd:double" />
  </xsd:complexType>

  <xsd:complexType name="loadlist">
    <xsd:sequence>
      <xsd:element name="load" type="load"  minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>


  <!-- DEMAND -->
  <xsd:complexType name="demand">
    <xsd:annotation>
      <xsd:documentation>
        A demand represents a independent demand to be planned. It can
        represent a customer order or a forecast.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="item" type="item" minOccurs="0" />
      <xsd:element name="operation" minOccurs="0">
        <xsd:complexType>
    			<xsd:attribute name="name" type="non-empty-string" use="required"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="customer" type="customer" minOccurs="0" />
      <xsd:element name="owner" minOccurs="0">
      	<xsd:complexType>
    			<xsd:attribute name="name" type="non-empty-string" use="required"/>
      	</xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attributeGroup ref="common_attributes"/>
    <xsd:attribute name="quantity" type="positiveFloat" />
    <xsd:attribute name="due" type="xsd:dateTime" />
    <xsd:attribute name="priority" type="xsd:integer" />
		<xsd:attribute name="maxlateness" type="xsd:duration" />
		<xsd:attribute name="minshipment" type="positiveFloat" />
  </xsd:complexType>

  <xsd:complexType name="demandlist">
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="demand" type="demand" />
    </xsd:sequence>
  </xsd:complexType>


  <!-- CALENDAR -->
  <xsd:complexType name="calendar_float">
    <xsd:sequence>
      <xsd:element name="buckets">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="bucket">
              <xsd:complexType>
                <xsd:attribute name="start" type="xsd:dateTime" use="required" />
                <xsd:attribute name="name" type="xsd:string" />
                <xsd:attribute name="value" type="xsd:double" />
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
		<xsd:attribute name="name" type="non-empty-string" use="required" />
  </xsd:complexType>

  <xsd:complexType name="calendar_void">
    <xsd:sequence>
      <xsd:element name="buckets">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="bucket">
              <xsd:complexType>
                <xsd:attribute name="start" type="xsd:dateTime" use="required" />
                <xsd:attribute name="name" type="xsd:string" />
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
		<xsd:attribute name="name" type="non-empty-string" use="required" />
  </xsd:complexType>

  <xsd:complexType name="calendarlist">
    <xsd:sequence>
			<xsd:element name="calendar_float" type="calendar_float" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="calendar_void" type="calendar_void" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>


  <!-- OPERATION_PLAN -->
  <xsd:complexType name="operation_plan">
    <xsd:annotation>
      <xsd:documentation>
        This entity represent the key for representing the plan. It models an
        operation planned at a certain quantity and time.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="demand" minOccurs="0" >
        <xsd:complexType>
    			<xsd:attribute name="name" type="non-empty-string" use="required"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:unsignedLong" />
    <xsd:attribute name="operation" type="xsd:string" />
    <xsd:attribute name="start" type="xsd:dateTime" />
    <xsd:attribute name="end" type="xsd:dateTime" />
    <xsd:attribute name="quantity" type="positiveFloat" />
    <xsd:attribute name="locked" type="xsd:boolean" />
    <xsd:attribute name="owner" type="xsd:unsignedLong" />
  </xsd:complexType>

  <xsd:complexType name="operationplanlist">
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="operation_plan" type="operation_plan" />
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
